/* Common styles for both desktop and mobile */
body {
    font-family: "Times New Roman", Times, serif;
    font-size: 12pt;
    margin: 0;
    padding: 0;
    text-align: left;
}
h1 {
    text-align:center;
    margin: 20px;
    padding: 10px; /* Increase padding for touch-friendly interaction */
    background-color: lightblue; /* Light green background color */
    border: 5px solid #ccc; /* Gray border color */
    border-radius: 10px; /* Rounded corners for the box */
    margin-bottom: 0.5cm; /* Separation of 0.5cm between elements */
    
}

h2 {
    text-align:center;
    color:red;
    
}

a {
    text-decoration: none;
}

/* Style for the journal article links */
p.journal-article-list-title {
    margin: 0;
    padding: 10px; /* Increase padding for touch-friendly interaction */
    background-color: lightgreen; /* Light green background color */
    border: 1px solid #ccc; /* Gray border color */
    border-radius: 5px; /* Rounded corners for the box */
    margin-bottom: 0.5cm; /* Separation of 0.5cm between elements */
}

p.journal-article-list-title a {
    color: black; /* Black text color */
    font-weight: bold;
}

p.journal-article-list-title a:hover {
    text-decoration: underline;
}

/* Define grid styles */
.grid {
    border-collapse: collapse;
    width: 100%;
}

.grid th, .grid td {
    border: 1px solid #ccc; /* Gray border color */
    padding: 8px;
    text-align: left;
}

/* Styles for screens smaller than 768px (typical mobile screens) */
@media (max-width: 767px) {
    /* Reduce font size for better readability on mobile */
    body {
        font-size: 10pt;
    }

    /* Style for the journal article links on mobile */
    p.journal-article-list-title {
        padding: 10px; /* Increase padding for touch-friendly interaction */
    }
}

