/* Set font family and size for the entire page */
body {
    font-family: "Times New Roman", Times, serif;
    font-size: 12pt;
}

/* Remove underline from hyperlinks */
a {
    text-decoration: none;
}

/* Define A4 paper size (210mm x 297mm) */
@page {
    size: A4;
    margin: 1cm; /* Set margins (adjust as needed) */
}

/* Center content on the page */
body {
    margin: 0;
    padding: 0;
    text-align: left;
}

/* Adjust content width to fit A4 page */
.content {
    width: 100%;
    max-width: 19cm; /* Adjust as needed */
    /* margin: 0 auto;*/
}

/* Style for the journal article links */
p.journal-article-list-title {
    margin: 0;
    padding: 5px 0;
    background-color: lightgreen; /* Light green background color */
    border: 1px solid #ccc; /* Gray border color */
    border-radius: 5px; /* Rounded corners for the box */
    margin-bottom: 0.5cm; /* Separation of 0.5cm between elements */
}

p.journal-article-list-title a {
    color: black; /* Black text color */
    font-weight: bold;
}

p.journal-article-list-title a:hover {
    text-decoration: underline;
}

/* Define grid styles */
.grid {
    border-collapse: collapse;
    width: 100%;
}

.grid th, .grid td {
    border: 1px solid #ccc; /* Gray border color */
    padding: 8px;
    text-align: left;
}
